/* Main container */
.meetVideoContainer {
  display: flex;         /* flex row: videos + chat */
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* dark overlay */
  position: relative;
  overflow: hidden;
}

.confrenceVideosContainer {
  flex: 1;                
  display: grid;
  gap: 10px;
  padding: 10px;
  height: 100%;          
}

.confrenceVideosContainer:has(:only-child) {
  grid-template-columns: 1fr;
}


.confrenceVideosContainer:has(:nth-child(2)) {
  grid-template-columns: repeat(2, 1fr);
}

.confrenceVideosContainer:has(:nth-child(3)) {
  grid-template-columns: repeat(2, 1fr);
}


.confrenceVideosContainer:has(:nth-child(5)) {
  grid-template-columns: repeat(3, 1fr);
}


.confrenceVideo {
  background: black;
  border-radius: 12px;
  overflow: hidden;
}

.confrenceVideo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.meetUserVideo {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  height: 30vh;
  width: auto;
  border-radius: 20px;
  overflow: hidden;
  z-index: 2;
}

.meetUserVideo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chatRoom {
  width: 350px;
  background: white;
  border-left: 1px solid #fadcdc;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  position: relative;
  overflow: hidden;
  height: 100%;
  border-radius: 15px;
}

.chattingArea{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; /* or whatever you want */
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e6f0ff; /* very light blue */
  
}


.chatDisplay{
  flex: 1;               /* takes all available space */
  overflow-y: auto;
  background-color: #e6f0ff; /* very light blue */
  padding: 1rem;
  margin-bottom: 3.5rem
}

.chattingArea button{
  margin-left: 0.5rem; 
  
}

.messageBox{
 background-color: #4a90e2;
  border-radius: 10px;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  width: fit-content;
  max-width: 90%; /* optional: avoid too wide bubbles */
  word-wrap: break-word;
 
  
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
background: linear-gradient(90deg, #4a90e2, #1e3a8a);
color: white;
  color: white;
  font-weight: bold;
  
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.chatHeader h1 {
  margin: 0;
}

.backButton {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}








.buttonContainer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}
