

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;

}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}


.rightPanel img{
  width: 300px;
  height: 200px;
}

.nav-item{
  margin-right: 2rem;

}



.navbar{
  box-shadow: 0 10px 25px rgba(0,0,0,0.06) !important;
  background-color: white !important;
 
}

.main-logo{
  height: 400px !important;
  width: 400px !important;
  
}

.main-logo img{
  width: 100%;
  height: 100%; 
  
}

.main-content{
  
  padding: 2rem;
  padding-top: 8rem;

}

.hero{
  background-color: oklch(.985 .002 247.839);
  height: 80vh;
  padding: 2rem;

}
.hero h1{
  font-weight: bold;
}


.hero button{
  margin-right: 1rem;
  font-weight: bold;
  
}

.middle{

  text-align: center;
  padding: 3rem;
}

.card-container{
 background-color: oklch(.985 .002 247.839);
 text-align: center;
   padding: 2rem;
}

.cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.cards .card{
  padding: 0.5rem;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.10) !important;
  background-color: oklch(.985 .002 247.839);
}

.card .card-title{
  color : #7C3AED
}



.left img{
  width: 80%;
  height: 80%;
  border-radius: 15px;
}

.steps{
  display: flex;
  flex-wrap: wrap;


}


.footer{
  width: 100%;
  height: 150px;
  background-color: white;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.13) !important;
  margin-top: 6rem !important;
  padding: 0.1rem;
  margin-bottom: 0;
 
}

.steps h2{
   
  color:#7C3AED
}

.guestLogin{

  margin-top: 5rem;
  margin-left: 30%;
}



.lobbyVideo{
   
  height: 300px;
  width: 400px;
 
 
}

.lobbyVideo video{
  height: 100%;
  width: 100%;
   border-radius: 50px;
}